@-webkit-keyframe fadeOut {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-moz-keyframe fadeOut {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@keyframe fadeOut {
  0% {
    opacity: 1;
  }
  90%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframe fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframe fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframe fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.ng-enter {
  -webkit-animation: fadeIn 0.7s 0.3s both linear;
  -moz-animation: fadeIn 0.7s 0.3s both linear;
  -o-animation: fadeIn 0.7s 0.3s both linear;
  animation: fadeIn 0.7s 0.3s both linear;
  z-index: 888888;
}

.ng-leave {
  -webkit-animation: fadeOut 0.7s both linear;
  -moz-animation: fadeOut 0.7s both linear;
  -o-animation: fadeOut 0.7s both linear;
  animation: fadeOut 0.7s both linear;
  z-index: 0;
}

.ng-enter .page-home {
  -webkit-animation: fadeIn 0.7s both linear;
  -moz-animation: fadeIn 0.7s both linear;
  -o-animation: fadeIn 0.7s both linear;
  animation: fadeIn 0.7s both linear;
  z-index: 0;
}

.ng-leave .page-home {
  -webkit-animation: fadeOut 0.7s both linear;
  -moz-animation: fadeOut 0.7s both linear;
  -o-animation: fadeOut 0.7s both linear;
  animation: fadeOut 0.7s both linear;
  z-index: 0;
}

.ng-enter .page-about {
  -webkit-animation: fadeIn 0.7s both linear;
  -moz-animation: fadeIn 0.7s both linear;
  -o-animation: fadeIn 0.7s both linear;
  animation: fadeIn 0.7s both linear;
  z-index: 0;
}

.ng-leave .page-about {
  -webkit-animation: fadeOut 0.7s both linear;
  -moz-animation: fadeOut 0.7s both linear;
  -o-animation: fadeOut 0.7s both linear;
  animation: fadeOut 0.7s both linear;
  z-index: 0;
}