.animation {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.page.page-about.animation {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.page.page-registration.animation {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.page.page-schedule.animation {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.page.page-submission.animation {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.page.page-home.animation.ng-enter {
  opacity: 0;
}
.page.page-home.animation.ng-leave {
  opacity: 1;
}
.page.page-home.animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.page.page-home.animation.ng-leave.ng-leave-active {
  opacity: 0;
  display: none;
}

@media (min-width: 768px) {
  .page.page-about.animation.ng-enter {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .page.page-about.animation.ng-leave {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  .page.page-about.animation.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  .page.page-about.animation.ng-leave.ng-leave-active {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .page.page-registration.animation.ng-enter {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .page.page-registration.animation.ng-leave {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  .page.page-registration.animation.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  .page.page-registration.animation.ng-leave.ng-leave-active {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .page.page-schedule.animation.ng-enter {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  .page.page-schedule.animation.ng-leave {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  .page.page-schedule.animation.ng-enter.ng-enter-active {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
  .page.page-schedule.animation.ng-leave.ng-leave-active {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }

  .page.page-submission.animation.ng-enter {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  .page.page-submission.animation.ng-leave {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  .page.page-submission.animation.ng-enter.ng-enter-active {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
  .page.page-submission.animation.ng-leave.ng-leave-active {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@media (max-width: 767px) {
  .page.page-about.animation.ng-enter {
    opacity: 0;
  }
  .page.page-about.animation.ng-leave {
    opacity: 1;
  }
  .page.page-about.animation.ng-enter.ng-enter-active {
    opacity: 1;
  }
  .page.page-about.animation.ng-leave.ng-leave-active {
    opacity: 0;
  }

  /******************/

  .page.page-registration.animation.ng-enter {
    opacity: 0;
  }
  .page.page-registration.animation.ng-leave {
    opacity: 1;
  }
  .page.page-registration.animation.ng-enter.ng-enter-active {
    opacity: 1;
  }
  .page.page-registration.animation.ng-leave.ng-leave-active {
    opacity: 0;
  }

  /******************/

  .page.page-schedule.animation.ng-enter {
    opacity: 0;
  }
  .page.page-schedule.animation.ng-leave {
    opacity: 1;
  }
  .page.page-schedule.animation.ng-enter.ng-enter-active {
    opacity: 1;
  }
  .page.page-schedule.animation.ng-leave.ng-leave-active {
    opacity: 0;
  }

  /******************/

  .page.page-submission.animation.ng-enter {
    opacity: 0;
  }
  .page.page-submission.animation.ng-leave {
    opacity: 1;
  }
  .page.page-submission.animation.ng-enter.ng-enter-active {
    opacity: 1;
  }
  .page.page-submission.animation.ng-leave.ng-leave-active {
    opacity: 0;
  }
}