.closePage.registration {
  background-color: #ffffff;
}
.closePage.registration .close {
  background-color: #d43e7d;
}
.closePage.registration:hover {
  background-color: #d43e7d;
}
.closePage.registration:hover .close {
  background: #ffffff;
}
.arrow.registration {
  background-color: #ffffff;
}
.arrow.registration .point {
  background-color: #d43e7d;
}
.arrow.registration:hover {
  background-color: #d43e7d;
}
.arrow.registration:hover .point {
  background-color: #ffffff;
}

.sidebar-header.registration {
  background-color: #d43e7d;
}