.closePage.registration {
  background-color: #ffffff;
}
.closePage.registration .close {
  background-color: #d43e7d;
}
.closePage.registration:hover {
  background-color: #d43e7d;
}
.closePage.registration:hover .close {
  background: #ffffff;
}
@media (min-width: 768px) {
  .closePage.registration {
    right: 60px;
    background-color: #d43e7d;
  }
  .closePage.registration .close {
    background-color: #ffffff;
  }
  .closePage.registration:hover {
    background-color: #ffffff;
  }
  .closePage.registration:hover .close {
    background-color: #d43e7d;
  }
}
.arrow.registration {
  background-color: #ffffff;
}
.arrow.registration .point {
  background-color: #d43e7d;
}
.arrow.registration:hover {
  background-color: #d43e7d;
}
.arrow.registration:hover .point {
  background-color: #ffffff;
}

.sidebar-header.registration {
  background-color: #d43e7d;
}