.closePage.registration {
  background-color: #d43e7d;
}
.closePage.registration:hover {
  background-color: #ffffff;
}
.closePage.registration:hover .close {
  background: #d43e7d;
}

.sidebar-header.registration {
  background-color: #d43e7d;
}