.schedule-wrapper{
  padding: 40px;
  margin-top: 50px;
  margin-left: 20px;
}

.activity {
  height: 80px;
  color: #aaa;
  font-size: 20px;
}

.time-sec {
  color: #f2cd31;
  font-size: 30px;
}

.description {
  margin-left: 1px;
}

.closePage.schedule {
  background-color: #ffffff;
}
.closePage.schedule .close {
  background-color: #f2cd31;
}
.closePage.schedule:hover {
  background-color: #f2cd31;
}
.closePage.schedule:hover .close {
  background: #ffffff;
}
@media (min-width: 768px) {
  .closePage.schedule {
    right: 60px;
    background-color: #f2cd31;
  }
  .closePage.schedule .close {
    background-color: #ffffff;
  }
  .closePage.schedule:hover {
    background-color: #ffffff;
  }
  .closePage.schedule:hover .close {
    background-color: #f2cd31;
  }
}
.arrow.schedule {
  background-color: #ffffff;
}
.arrow.schedule .point {
  background-color: #f2cd31;
}
.arrow.schedule:hover {
  background-color: #f2cd31;
}
.arrow.schedule:hover .point {
  background-color: #ffffff;
}

.sidebar-header.schedule {
  background-color: #f2cd31;
}