.closePage.schedule {
  background-color: #ffffff;
}
.closePage.schedule .close {
  background-color: #f2cd31;
}
.closePage.schedule:hover {
  background-color: #f2cd31;
}
.closePage.schedule:hover .close {
  background: #ffffff;
}
.arrow.schedule {
  background-color: #ffffff;
}
.arrow.schedule .point {
  background-color: #f2cd31;
}
.arrow.schedule:hover {
  background-color: #f2cd31;
}
.arrow.schedule:hover .point {
  background-color: #ffffff;
}

.sidebar-header.schedule {
  background-color: #f2cd31;
}