html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.page.page-home {
  background-color: #ffffff;
}
.page.page-about {
  background-color: #ffffff;
}
.page.page-registration {
  background-color: #ffffff;
}
.page.page-schedule {
  background-color: #ffffff;
}
.page.page-submission {
  background-color: #ffffff;
}

.closePage {
  z-index: 99999999;
  position: fixed;
  top: 20px;
  right: 20px;
  background: #00a8d4;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
  -webkit-transition: border 0.25s;
  -moz-transition: border 0.25s;
  -o-transition: border 0.25s;
  transition: border 0.25s;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s;
}
.closePage .close {
  z-index: 99999999;
  position: absolute;
  width: 20px;
  height: 4px;
  background: #ffffff;
  top: 15px;
  left: 7px;
  -webkit-transition: background 0.25s;
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  transition: background 0.25s;
}
.closePage .close.close1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.closePage .close.close2 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.closePage:hover {
  background: #ffffff;
}
.closePage:hover .close {
  background: #00a8d4;
}

.sidebar-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  color: #ffffff;
}

.circle-wrapper.disabled {
  opacity: 0.3;
  cursor: default;
}

.margin-top20 {
  margin-top: 20px;
}
.margin-top30 {
  margin-top: 30px;
}
.margin-top40 {
  margin-top: 40px;
}
.margin-top50 {
  margin-top: 50px;
}

.event-wrapper {

}
.event-text {
  font-size: 90px;
  font-family: sans-serif;
  font-weight: 500;
  color: #495156;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: 80px;
}
.event-wrapper.event-top {
  display: none;
  margin-bottom: 80px; 
}
.event-wrapper.event-bottom {
  margin-top: 80px;
}
.event-wrapper .designathon {
  font-family: "Lato";
  font-size: 30px;
  color: #788084;
  text-transform: uppercase;
}
.event-wrapper .designathon .letterspacing {
  letter-spacing: 5px;
}

.cmyk-wrapper {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-43%);
  -moz-transform: translateY(-43%);
  -o-transform: translateY(-43%);
  transform: translateY(-43%);
}

.circle-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  cursor: pointer;
}
.circle-wrapper .title {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 30px; 
  text-align: center;
  font-family: 'Lato';
  color: #788084;
}
.circle-wrapper .title .letterspace {
  letter-spacing: 6px;
}
.circle-wrapper:hover .circlespin {
  -webkit-animation: rotating 0.8s cubic-bezier(0,0,0.15,1);
  -moz-animation: rotating 0.8s cubic-bezier(0,0,0.15,1);
  -o-animation: rotating 0.8s cubic-bezier(0,0,0.15,1);
  animation: rotating 0.8s cubic-bezier(0,0,0.15,1);
}
.circle-wrapper:hover .circlespin45 {
  -webkit-animation: rotating45 0.8s cubic-bezier(0,0,0.15,1);
  -moz-animation: rotating45 0.8s cubic-bezier(0,0,0.15,1);
  -o-animation: rotating45 0.8s cubic-bezier(0,0,0.15,1);
  animation: rotating45 0.8s cubic-bezier(0,0,0.15,1);
}

.circle {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0 30px;
}

.circle1 .top {
  width: 200px;
  height: 100px;
  background-color: #7ec6e4;
  border-radius: 100px 100px 0 0;
}
.circle1 .bottom {
  width: 200px;
  height: 100px;
  background-color: #00a8d4;
  border-radius: 0 0 100px 100px;
}
.circle1 .line {
  position: absolute;
  top: 97px;
  right: 0px;
  height: 6px;
  width: 100px;
  border-radius: 2px 0 0 2px;
  background: #ffffff;
}

.circle2 .left {
  float: left;
  width: 100px;
  height: 200px;
  background-color: #d43e7d;
  border-radius: 100px 0 0 100px;
}
.circle2 .right {
  float: right;
  width: 100px;
  height: 200px;
  background-color: #e38aa9;
  border-radius: 0 100px 100px 0;
}
.circle2 .line {
  position: absolute;
  top: 100px;
  right: 97px;
  height: 100px;
  width: 6px;
  border-radius: 2px 2px 0 0;
  background: #ffffff;
}

.circle3 .left {
  float: left;
  width: 100px;
  height: 200px;
  background-color: #f6df8b;
  border-radius: 100px 0 0 100px;
}
.circle3 .right {
  float: right;
  width: 100px;
  height: 200px;
  background-color: #f2cd31;
  border-radius: 0 100px 100px 0;
}
.circle3 .line {
  position: absolute;
  top: 0px;
  right: 97px;
  height: 100px;
  width: 6px;
  border-radius: 0 0 2px 2px;
  background: #ffffff;
}

.circle4 {
  background: #777e82;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.circle4 .top {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 200px;
  height: 100px;
  background-color: #2d3236;
  border-radius: 100px 100px 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.circle4 .bottom {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 200px;
  height: 100px;
  background-color: #2d3236;
  border-radius: 0 0 100px 100px;
}
.circle4 .line-vertical {
  position: absolute;
  top: -1px;
  right: 97px;
  height: 104px;
  width: 6px;
  border-radius: 0 0 2px 2px;
  background: #ffffff;
}
.circle4 .line-horizontal {
  position: absolute;
  top: 97px;
  right: -1px;
  height: 6px;
  width: 104px;
  border-radius: 2px 0 0 2px;
  background: #ffffff;
}

@media only screen and (max-width: 1083px) {
  .cmyk-wrapper {
    margin: 60px auto 40px auto;
    width: 580px;
    top: 0%;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }

  .event-wrapper.event-top {
    display: block;
  }

  .event-wrapper.event-bottom {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .cmyk-wrapper {
    width: 100%;
    margin-top: 40px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotating45 {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}
@-webkit-keyframes rotating45 {
  from{
    -webkit-transform: rotate(45deg);
  }
  to{
    -webkit-transform: rotate(405deg);
  }
}