.closePage.submission {
  background-color: #2d3236;
}
.closePage.submission:hover {
  background-color: #ffffff;
}
.closePage.submission:hover .close {
  background: #2d3236;
}

.sidebar-header.submission {
  background-color: #2d3236;
}