.closePage.submission {
  right: 15px;
  background-color: #ffffff;
}
.closePage.submission .close {
  background-color: #2d3236;
}
.closePage.submission:hover {
  background-color: #2d3236;
}
.closePage.submission:hover .close {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .closePage.submission {
    right: 20px;
    background-color: #2d3236;
  }
  .closePage.submission .close {
    background-color: #ffffff;
  }
  .closePage.submission:hover {
    background-color: #ffffff;
  }
  .closePage.submission:hover .close {
    background-color: #2d3236;
  }
}
.arrow.submission {
  right: 75px;
  background-color: #ffffff;
}
.arrow.submission .point {
  background-color: #2d3236;
}
.arrow.submission:hover {
  background-color: #2d3236;
}
.arrow.submission:hover .point {
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .arrow.submission {
    right: 70px;
  }
}

.sidebar-header.submission {
  background-color: #2d3236;
}

.submission-body {
  height: 100%;
}

.submission-body .submission-wrapper {
  text-align: center;
  position: relative;
  font-size: 24px;
  padding: 40px;
}

@media (min-width: 768px) {
  .submission-body .submission-wrapper {
    text-align: center;
    font-size: 24px;
    padding: 40px;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
