@import 'nav';

$cyan         : #00a8d4;
$magenta      : #d43e7d;
$yellow       : #f2cd31;
$k            : #2d3236;
$lightcyan    : #7ec6e4;
$lightmagenta : #e38aa9;
$lightyellow  : #f6df8b;
$lightk       : #777e82;

$transition-fast : 0.6s ease;

body, html {
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: "Lato";
  font-size: 16px;
  color: #788084;
}

body {
  transition: background $transition-fast;
  &.about {
    background-color: $cyan;
    #about {
      .content-header {
        color: white;
        .content-card {
          color: white;
        }
      }
    }
  }
  &.schedule {
    background-color: $yellow;
  }
  &.registration {
    background-color: $magenta;
  }
  &.submissions {
    background-color: $k;
  }
}

.content-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  .content-header {
    padding: 20px 40px;
    color: white;
    text-align: center;
    h1 {
      font-size: 28px;
      font-weight: 100;
    }

    .content-card {
      padding: 20px 10px;
      width: 100%;
      border-radius: 3px;
      box-sizing: border-box;
    }
  }
}

.logistics {
  text-align: center;
}
.logistics ul {
  font-family: "Lato";
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 5px;
  list-style-type: none;
  padding: 0px;
  display: inline-block;
}
.logistics ul li {
  margin: 0px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
}
.logistics ul li .fav {
  height: 32px;
  width: 32px;
  margin-right: 5px;
  vertical-align: middle;
}
.logistics ul li .log-text {
  font-size: 16px;
  letter-spacing: 1px;
}


#about {
  .content-header {
    // background-color: $cyan;
    color: #788084;
    .content-card {
      transition: color $transition-fast;
      color: #788084;
    }
  }
}

.panel {
  font-family: 'Lato';
  font-size: 18 px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.guest-id {
  font-family: 'Montserrat';
  font-size: 18px;
  margin-top: 20px;
}

.guest-descr {
  margin-bottom: 15px;
}

.guest-descr a{
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #eee;
  letter-spacing: .5px;
  font-family: 'Montserrat';
}

.guest-descr a:hover{
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat';
}

#schedule {
  .content-header {
    // background-color: $yellow;
  }
}
#registration {
  .content-header {
    // background-color: $magenta;
  }
}
#submissions {
  .content-header {
    // background-color: $k;
  }
}
