@import 'nav';

$cyan         : #00a8d4;
$magenta      : #d43e7d;
$yellow       : #f2cd31;
$k            : #2d3236;
$lightcyan    : #7ec6e4;
$lightmagenta : #e38aa9;
$lightyellow  : #f6df8b;
$lightk       : #777e82;

$transition-fast : 0.6s ease;

body, html {
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: "Lato";
  font-size: 18px;
  color: #788084;

  font-weight: 300;
}

h1 {
  font-size: 36px;
  font-size: 2rem;

  @media all and (max-width: 480px) {
    font-size: 32px;
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 27px;
  font-size: 1.5rem;
}

h3 {
  font-size: 23px;
  font-size: 1.25rem;
}

p {
  font-size: 18px;
  font-size: 1rem;
  line-height: 27px;
  line-height: 1.5rem;
}

body {
  transition: background $transition-fast;
  &.about {
    background-color: $cyan;
    #about {
      .content-header {
        color: white;
        .content-card {
          color: white;
        }
      }
    }
    #sun-spacer #sun-section {
      background-color: $cyan;
    }
  }
  &.schedule {
    background-color: $magenta;
    #sun-spacer #sun-section {
      background-color: $magenta;
    }
  }
  &.registration {
    #submissions {
      .content-header {
        color: #444;
      }
      color: #444;
    }
    background-color: $yellow;
    #sun-spacer #sun-section {
      background-color: $yellow;
    }

    #registration {
      font-weight: 400;
      color: #444;
      .content-header {
        color: #444;
      }

      .registration-item {
        .registration-icon img {
          opacity: 1;
        }
      }
    }
  }
  &.submissions {
    background-color: $k;
    #sun-spacer #sun-section {
      background-color: $k;
    }
  }
}

#nameplate {
  .event-text {
    font-size: 90px;
    font-family: sans-serif;
    font-weight: 500;
    color: #495156;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 80px;
  }
  .designathon {
    font-family: "Lato";
    font-size: 30px;
    color: #788084;
    text-transform: uppercase;
  }
  .designathon .letterspacing {
    letter-spacing: 5px;
  }
}

.content-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 100px;
  .content-header {
    padding: 20px 40px;
    color: white;
    text-align: center;
    h1 {
      font-weight: 100;
    }
    .content-card {
      padding: 20px 10px;
      width: 100%;
      border-radius: 3px;
      box-sizing: border-box;
    }
  }
}

.logistics {
  text-align: center;
}
.logistics ul {
  font-family: "Lato";
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 5px;
  list-style-type: none;
  padding: 0px;
  display: inline-block;
}
.logistics ul li {
  margin: 0px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
}
.logistics ul li .fav {
  height: 32px;
  width: 32px;
  margin-right: 5px;
  vertical-align: middle;
}
.logistics ul li .log-text {
  font-size: 18px;
  letter-spacing: 1px;
}


#about {
  .content-header {
    // background-color: $cyan;
    color: #788084;
    .content-card {
      transition: color $transition-fast;
      color: #788084;
    }
  }
}

.panel {
  font-family: 'Lato';
  font-size: 22px;
  font-size: 1.25rem;
  line-height: 36px;
  line-height: 2rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.guest-id {
  font-family: 'Montserrat';
  font-size: 18px;
  margin-top: 20px;
}

.guest-descr {
  margin-bottom: 15px;
}

.guest-descr a {
  text-decoration: none;
  font-size: 12px;
  font-size: 0.67rem;
  line-height: 16px;
  text-transform: uppercase;
  color: #eee;
  letter-spacing: .5px;
  font-family: 'Montserrat';
}

.guest-descr a:hover{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat';
}

#schedule {
  #sun-spacer {
    position: relative;
    height: 90px;
    width: 100%;
    margin-top: -45px;
    margin-bottom: 45px;
    z-index: 10;
    #sun-section {
      position: absolute;
      top: 0;
      left: 0;
      height: 90px;
      width: 100%;
      transition: background-color $transition-fast;
      overflow: hidden;
      border-bottom: 1px solid white;
      &.active {
        position: fixed;
      }
      #sun {
        position: relative;
        width: 45px;
        height: 45px;
        margin: 70px auto 0;
        // margin-left: 250px;
        .sun-ball {
          width: 100%;
          height: 100%;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          -ie-border-radius: 100%;
          -o-border-radius: 100%;
          border-radius: 100%;
          background: #ffffff;
        }
        .sun-rays {
          position: absolute;
          top: -30%;
          left: 50%;
          width: 3px;
          height: 160%;

          b, s {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 12%;/* 100*30/100=18.75 */
            background: white;
            border-radius: 3px;
          }
          s {
            top: auto;
            bottom: 0;
          }
          &:nth-child(10n+3) {
            -webkit-transform:rotate(36deg);
            -moz-transform:rotate(36deg);
            -o-transform:rotate(36deg);
            -ie-transform:rotate(36deg);
            transform:rotate(36deg);
          }
          &:nth-child(10n+4) {
            -webkit-transform:rotate(72deg);
            -moz-transform:rotate(72deg);
            -o-transform:rotate(72deg);
            -ie-transform:rotate(72deg);
            transform:rotate(72deg);
          }
          &:nth-child(10n+5) {
            -webkit-transform:rotate(108deg);
            -moz-transform:rotate(108deg);
            -o-transform:rotate(108deg);
            -ie-transform:rotate(108deg);
            transform:rotate(108deg);
          }
          &:nth-child(10n+6) {
            -webkit-transform:rotate(144deg);
            -moz-transform:rotate(144deg);
            -o-transform:rotate(144deg);
            -ie-transform:rotate(144deg);
            transform:rotate(144deg);
          }
        }
      }
    }
  }
  .content-card {
    .schedule-item {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 40px;
      color: #ffffff;

      .schedule-time {
        display: inline-block;
        width: 20%;
        margin-right: 2.5%;
        font-size: 22px;
        font-size: 1.25rem;
        text-align: right;
        vertical-align: top;
      }
      .schedule-desc {
        display: inline-block;
        width: 67.5%;
        text-align: left;
        vertical-align: top;

        .schedule-desc-header {
          margin-bottom: 10px;
          font-size: 22px;
          font-size: 1.25rem;
        }

        .schedule-desc-body {
          font-size: 18px;
          font-size: 1rem;
          line-height: 18px;
          line-height: 1rem;
        }
      }
    }

    @media all and (max-width: 480px) {
      padding: 20px;
      .schedule-item {
        .schedule-time {
          width: 100%;
          margin-bottom: 15px;
          display: block;
          text-align: left;
        }
        .schedule-desc {
          width: 100%;
          display: block;
        }
      }
    }
  }
}
#registration {
  color: white;
  font-weight: 300;
  text-align: center;
  .content-header {
    // background-color: $magenta;
  }

  a {
    text-decoration: none;
    color: $k;
    font-weight: 700;
  }

  .registration-item {
    width: 100%;

    .registration-desc {

    }

    .registration-icon img {
      width: 100px;
      height: 100px;

      margin-bottom: 15px;
      margin-top: 35px;

      opacity: 0;
      transition: opacity $transition-fast;
    }
  }
}
#submissions {
  color: white;
  text-align: center;
  height: 100%;
  .content-header {
    // background-color: $k;
  }
}
