<div class="about-header">
	<h1>ABOUT</h1>
	  <div class="logistics">
	  	<ul>
	  	<li>
	  		<img class="fav" src="img/date.png">
	  		<span class="log-text">October 25, 2014</span> 
	  	</li>
	  	<li>
	  		<img class="fav" src="img/time.png">
	  		<span class="log-text">10:00AM - 6:00PM </span>
	  	</li>
	  	<li>
	  		<img class="fav" src="img/place.png">
	  		<span class="log-text">Sutardja Dai Hall</span> 
	  	</li>
	  </ul>
	  </div>
	<div class="closePage" data-ng-click="closePage()">
	 <span class="close close1"></span>
	 <span class="close close2"></span>
	</div>
</div>

<div class="about-wrapper">


	  <div class="primary">
	  	<ul>
	  		<li>
	  			<div class="image"><img class="prim" src="img/design.png"></div>
	  			<div class="prim-text">design design design designdesign design design design design design design design designdesign design designdesign design designdesign design</div> 
	  		</li>
	  	</ul>
	  </div>
</div>
