<div class="sidebar-header about">
  <div class="header-wrapper">
    <h1>
      <span class="letter-spacing">abou</span><span>t</span>
    </h1>
    <div class="logistics">
      <ul>
        <li>
          <img class="fav" src="img/cmyk-icon-cal.png">
          <span class="log-text">October 25, 2014</span> 
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-clock.png">
          <span class="log-text">10:00AM - 6:00PM </span>
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-pin.png">
          <span class="log-text">Sutardja Dai Hall</span> 
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="about-body">
  <div class="one-liner">Innovative Design, Cal's premier graphic design, photography, videography, and web design club, is hosting a design competition for all student designers. Form a group of four, design for local Bay Area businesses, and receive formal mentorship from professional designers around the Bay! Admission includes food and swag. Judges and mentors from Pixar, Turner Duckworth, Zipfly, and Adobe. Stay tuned for more information!
  </div>

  <div class= "columns">
    <div class="who title">Should I attend?
      <div class="who-body panel">Yes! We welcome designers of all skill levels! CMYK will be hosting workshops led by designers during the event. Come learn and sharpen your creativity.
      </div>
    </div>
    <div class="what title">What do we do?
      <div class="what-body panel">
      We will provide an design-friendly environment to let your creativity grow! Come meet student designers from UC Berkeley and the Bay Area, learn from some of the best in the field of design, and design under the guidance of peers and professionals! We'll be providing exciting design prompts to get you going, and an expert panel of judges and mentors to help you along the way.
      </div>
    </div>

    <div class="guests title">Who's going to be there?
      <div class="guest-body panel">
      </div>
    </div>
  </div>
</div>

<div scrollDirection data-ng-class="{ hideBut:scrollUp }">
  <div class="closePage about" data-ng-click="closePage()">
    <span class="close close1"></span>
    <span class="close close2"></span>
  </div>
  <div class="arrow arrow-fwd about" data-ng-click="place('registration')">
    <span class="point point1"></span>
    <span class="point point2"></span>
  </div>
</div>
