<div class="sidebar-header about">
  <div class="header-wrapper">
    <h1>
      <span class="letter-spacing">abou</span><span>t</span>
    </h1>
    <div class="logistics">
      <ul>
        <li>
          <img class="fav" src="img/cmyk-icon-cal.png">
          <span class="log-text">October 25, 2014</span> 
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-clock.png">
          <span class="log-text">10:00AM - 6:00PM </span>
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-pin.png">
          <span class="log-text">Sutardja Dai Hall</span> 
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="about-body">
  <div class="about-wrapper">
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
  </div>
</div>

<div scrollDirection data-ng-class="{ hideBut:scrollUp }">
  <div class="closePage about" data-ng-click="closePage()">
    <span class="close close1"></span>
    <span class="close close2"></span>
  </div>
  <div class="arrow arrow-fwd about" data-ng-click="place('registration')">
    <span class="point point1"></span>
    <span class="point point2"></span>
  </div>
</div>
