<div class="cmyk-wrapper">
  <div class="event-wrapper event-top">
    <div class="event-text">
      cmyk
    </div>
    <div class="designathon">
      <span class="letterspacing">&nbsp;designatho</span><span>n</span>
    </div>
  </div>
  <div class="circle-wrapper" data-ng-click="place('about', false)">
    <div class="circle circle1 circlespin">
      <div class="top"></div>
      <div class="line"></div>
      <div class="bottom"></div>
    </div>
    <div class="title">
      <span class="letterspace">abou</span><span>t</span>
    </div>
  </div>
  <div class="circle-wrapper" data-ng-click="place('registration', false)">
    <div class="circle circle2 circlespin">
      <div class="left"></div>
      <div class="line"></div>
      <div class="right"></div>
    </div>
    <div class="title">
      <span class="letterspace">registratio</span><span>n</span>
    </div>
  </div>
  <div class="circle-wrapper" data-ng-click="place('schedule', false)">
    <div class="circle circle3 circlespin">
      <div class="left"></div>
      <div class="line"></div>
      <div class="right"></div>
    </div>
    <div class="title">
      <span class="letterspace">schedul</span><span>e</span>
    </div>
  </div>
  <div class="circle-wrapper" data-ng-click="place('submission', false)">
    <div class="circle circle4 circlespin45">
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="line-vertical"></div>
      <div class="line-horizontal"></div>
    </div>
    <div class="title">
      <span class="letterspace">submission</span><span>s</span>
    </div>
  </div>
  <div class="event-wrapper event-bottom">
    <a href="http://goo.gl/cgpqe4">
      <div class="event-text">
        cmyk
      </div>
      <div class="designathon">
        <span class="letterspacing">&nbsp;designatho</span><span>n</span>
      </div>
    </a>
  </div>
</div>