<div class="sidebar-header registration">
  <div class="header-wrapper">
    <h1>
      <span class="letter-spacing">REGISTE</span><span>R</span>
    </h1>
    <div class="logistics">
      <ul>
        <li>
          <img class="fav" src="img/cmyk-icon-cal.png">
          <span class="log-text">October 25, 2014</span> 
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-clock.png">
          <span class="log-text">10:00AM - 6:00PM </span>
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-pin.png">
          <span class="log-text">Sutardja Dai Hall</span> 
        </li>
      </ul>
    </div>
  </div>  
</div>

<div class="about-body">
  <div class="about-wrapper">
    <div class="section-wrapper">

      <div class="eventbrite">
        <div class="event">
          <a href="http://innovativedesign.club/">Innovative Design</a>, Cal's premier graphic design and photography club, is hosting a design competition for all student designers. Join us on October 25 for a day of learning from peers and professional designers, as well as a friendly competition environment where designers can expand their creative expertise. Professional designers from Bay Area companies including Pixar, Turner Duckworth, Adobe, and more will be judging entries and hosting workshops throughout the day. <br><br>
          Our event is sponsored by Citris and we will be giving out prizes to the winning entries. Food will also be provided throughout the event.<br>
        </div>

    </div>
  </div>
</div>

<div class="arrow arrow-back registration" data-ng-click="place('about', false)">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>
<div class="closePage registration" data-ng-click="closePage()">
  <span class="close close1"></span>
  <span class="close close2"></span>
</div>
<div class="arrow arrow-fwd registration" data-ng-click="place('schedule', false)">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>