<div class="sidebar-header registration">
  
</div>

<div class="arrow arrow-back registration" data-ng-click="place('about')">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>
<div class="closePage registration" data-ng-click="closePage()">
  <span class="close close1"></span>
  <span class="close close2"></span>
</div>
<div class="arrow arrow-fwd registration" data-ng-click="place('schedule')">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>