<div class="sidebar-header schedule">
  <div class="header-wrapper">
    <h1>
      <span class="letter-spacing">SCHEDUL</span><span>E</span>
    </h1>
    <div class="logistics">
      <ul>
        <li>
          <img class="fav" src="img/cmyk-icon-cal.png">
          <span class="log-text">October 25, 2014</span> 
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-clock.png">
          <span class="log-text">10:00AM - 6:00PM </span>
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-pin.png">
          <span class="log-text">Sutardja Dai Hall</span> 
        </li>
      </ul>
    </div>
  </div>    
</div>

<div class="about-body">
  <div class="about-wrapper">
    <div class="section-wrapper">
      <div class="schedule-wrapper">
        <div class="activity">
          <div class="time-sec">
            Check-In
          </div>
          <div class="description">
            10:00AM - 10:30AM
          </div>
        </div>

        <div class="activity">
          <div class="time-sec">
            Bagel Bar &amp; Team Formation
          </div>
          <div class="description">
            10:30AM - 11:00 AM
          </div>
        </div>

        <div class="activity">
          <div class="time-sec">
            Opening Ceremony
          </div>
          <div class="description">
            11:00AM - 11:30AM
          </div>
        </div>

        <div class="activity">
          <div class="time-sec">
            Design Session &amp; Workshops
          </div>
          <div class="description">
            11:30AM - 4:30PM
          </div>
        </div>

        <div class="activity">
          <div class="time-sec">
            Showcase &amp; Deliberations
          </div>
          <div class="description">
            4:30PM - 5:30PM
          </div>
        </div>

        <div class="activity">
          <div class="time-sec">
            Closing Ceremony &amp; Prizes
          </div>
          <div class="description">
            5:30PM - 6:00PM
          </div>
        </div>




      </div>

    </div>
  </div>
</div>

<div class="arrow arrow-back schedule" data-ng-click="place('registration', false)">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>
<div class="closePage schedule" data-ng-click="closePage()">
  <span class="close close1"></span>
  <span class="close close2"></span>
</div>
<div class="arrow arrow-fwd btn-disable" data-ng-click="place('submission', true)">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>