<div class="sidebar-header schedule">
  
</div>

<div class="arrow arrow-back schedule" data-ng-click="place('registration')">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>
<div class="closePage schedule" data-ng-click="closePage()">
  <span class="close close1"></span>
  <span class="close close2"></span>
</div>
<div class="arrow arrow-fwd schedule" data-ng-click="place('submission')">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>