<div class="sidebar-header submission">
  <div class="header-wrapper">
    <h1>
      <span class="letter-spacing">submi</span><span>t</span>
    </h1>
    <div class="logistics">
      <ul>
        <li class="cent">by</li>
        <li>
          <img class="fav" src="img/cmyk-icon-cal.png">
          <span class="log-text">October 25, 2014</span> 
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-clock.png">
          <span class="log-text">5:00PM</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<style type="text/css">
body {
  background-color: rgb(255,255,255);
}

.ss-form-container, .ss-resp-card {
  background-color: rgb(255,255,255);
}

.ss-form-container {
  box-shadow: none !important;
  margin-bottom: 50px;
}

.ss-footer, .ss-response-footer {
  background-color: rgb(255,255,255);
}

.ss-grid-row-odd {
  background-color: rgb(242,242,242);
}

.ss-form-container, .ss-resp-card {
  border-color: rgb(255,255,255);
}

.ss-form-title {
  text-align: left;
}

.ss-form-title[dir="rtl"] {
  text-align: right;
}

.ss-form-desc {
  text-align: left;
}

.ss-form-desc[dir="rtl"] {
  text-align: right;
}

.ss-header-image-container {
  height: 0;
}

.ss-item {
  font-size: 1.080rem;
}

.ss-choices {
  font-size: 1.000rem;
}

body {
  font-family: "Lato";
  color: rgb(119,119,119);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
}

.ss-record-username-message {
  font-family: "Lato";
  color: rgb(119,119,119);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
}

.ss-form-title {
  font-family: "Lato";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 2.460rem;
  font-style: normal;
}

.ss-confirmation {
  font-family: "Lato";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 2.460rem;
  font-style: normal;
}

.ss-page-title, .ss-section-title {
  font-family: "Lato";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 1.845rem;
  font-style: normal;
}

.ss-form-desc, .ss-page-description, .ss-section-description {
  font-family: "Lato";
  color: rgb(140,140,140);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
}

.ss-resp-content {
  font-family: "Lato";
  color: rgb(119,119,119);
  font-weight: 400;
  font-size: 1.080rem;
  font-style: normal;
}

.ss-q-title {
  font-family: "Lato";
  color: rgb(80,80,80);
  font-weight: 700;
  font-size: 1.080rem;
  font-style: normal;
}

.ss-embeddable-object-container .ss-q-title {
  font-family: "Lato";
  color: rgb(80,80,80);
  font-weight: 700;
  font-size: 1.845rem;
  font-style: normal;
}

.ss-q-help, .ss-q-time-hint {
  font-family: "Roboto";
  color: rgb(140,140,140);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}

.ss-choice-label, .video-secondary-text, .ss-gridrow-leftlabel, .ss-gridnumber, .ss-scalenumber, .ss-leftlabel, .ss-rightlabel {
  font-family: "Lato";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}

.error-message, .required-message, .ss-required-asterisk {
  font-family: "Roboto";
  color: rgb(196,59,29);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}

.ss-send-email-receipt {
  font-family: "Lato";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}

.ss-password-warning {
  font-family: "Arial";
  color: rgb(119,119,119);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: italic;
}

.disclaimer {
  font-family: "Arial";
  color: rgb(119,119,119);
  font-weight: 400;
  font-size: 0.850rem;
  font-style: normal;
}

.ss-footer-content {
  font-family: "Arial";
  color: rgb(80,80,80);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}

.progress-label {
  font-family: "Roboto";
  color: rgb(140,140,140);
  font-weight: 400;
  font-size: 1.000rem;
  font-style: normal;
}

a:link {
  color: rgb(0,0,238);
}

a:visited {
  color: rgb(85,26,139);
}

a:active {
  color: rgb(252,0,0);
}

input[type='text'], input:not([type]), textarea {
  font-size: 1.000rem;
}

.error, .required, .errorbox-bad {
  border-color: rgb(196,59,29);
}

.jfk-progressBar-nonBlocking .progress-bar-thumb {
  background-color: rgb(140,140,140);
}

.ss-logo-image {
  background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_small_dark.png');
  background-size: 108px 21px;
  width: 108px;
  height: 21px;
}

@media screen and (-webkit-device-pixel-ratio: 2) {
.ss-logo-image {
  background-image: url('//ssl.gstatic.com/docs/forms/forms_logo_small_dark_2x.png');
}

.jfk-button-action {
  background: #929497;
  border-color: #929497;
  cursor: pointer;

  -webkit-transition: background 0.2s, border 0.2s;
  -moz-transition: background 0.2s, border 0.2s;
  -o-transition: background 0.2s, border 0.2s;
  transition: background 0.2s, border 0.2s;
}

.jfk-button-action:hover {
  background: #231f20;
  border-color: #231f20;
}

.jfk-button-action:focus {
  -moz-box-shadow:    inset 0 0 4px #555555;
  -webkit-box-shadow: inset 0 0 4px #555555;
  box-shadow:         inset 0 0 4px #555555;
}

.jfk-button-action:active {
  -moz-box-shadow:    inset 0 0 4px #555555;
  -webkit-box-shadow: inset 0 0 4px #555555;
  box-shadow:         inset 0 0 4px #555555;
}

.ss-q-short, .ss-q-long {
  outline: none;
}

.ss-q-short:focus, .ss-q-short:active,
.ss-q-long:focus, .ss-q-long:active {
  outline: none;
  border: 2px solid #231f20;
}

}

</style>

<div class="about-body">
  <div class="about-wrapper">
    <div itemscope="" itemtype="http://schema.org/CreativeWork/FormObject"><meta itemprop="name" content="CMYK Design Submission">


<meta itemprop="url" content="https://docs.google.com/forms/d/1k9cQk7ZmOdQk9MjuL6wsdapzOL2SecusSSyqogNZgfA/viewform">
<meta itemprop="embedUrl" content="https://docs.google.com/forms/d/1k9cQk7ZmOdQk9MjuL6wsdapzOL2SecusSSyqogNZgfA/viewform?embedded=true">
<meta itemprop="faviconUrl" content="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk2.png">





<div class="ss-form-container"><div class="ss-header-image-container"><div class="ss-header-image-image"><div class="ss-header-image-sizer"></div></div></div>
<div class="ss-top-of-page"><div class="ss-form-heading"><h1 class="ss-form-title" dir="ltr">CMYK Design Submission</h1>

</div></div>
<div class="ss-form">

<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='/#/thankyou';}"></iframe>
<form action="https://docs.google.com/forms/d/1k9cQk7ZmOdQk9MjuL6wsdapzOL2SecusSSyqogNZgfA/formResponse" method="post"
target="hidden_iframe" onsubmit="submitted=true;">

<ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_317130272"><div class="ss-q-title">Team Name
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.317130272" value="" class="ss-q-short" id="entry_317130272" dir="auto" aria-label="Team Name  " aria-required="true" required="" title="">
<div class="error-message" id="1717441185_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_819335085"><div class="ss-q-title">List Team Members
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.819335085" rows="8" cols="0" class="ss-q-long" id="entry_819335085" dir="auto" aria-label="List Team Members  " aria-required="true" required=""></textarea>
<div class="error-message" id="839714000_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_968901652"><div class="ss-q-title">Prompt Choice
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="Prompt Choice  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.888098369" value="Water" id="group_888098369_1" role="radio" class="ss-q-radio" aria-label="Water" required="" aria-required="true"></span>
<span class="ss-choice-label">Water</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.888098369" value="Map" id="group_888098369_2" role="radio" class="ss-q-radio" aria-label="Map" required="" aria-required="true"></span>
<span class="ss-choice-label">Map</span>
</label></li></ul>
<div class="error-message" id="968901652_errorMessage"></div>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2127567147"><div class="ss-q-title">Age of all members
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.2127567147" rows="8" cols="0" class="ss-q-long" id="entry_2127567147" dir="auto" aria-label="Age of all members  " aria-required="true" required=""></textarea>
<div class="error-message" id="318837486_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1181346440"><div class="ss-q-title">Please link us to a Google Drive Folder
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr">Folder should contain image files, pdfs, and your Google Presentation. Do not edit the folder after submission period.</div></label>
<input type="text" name="entry.1181346440" value="" class="ss-q-short" id="entry_1181346440" dir="auto" aria-label="Please link us to a Google Drive Folder Folder should contain image files, pdfs, and your Google Presentation. Do not edit the folder after submission period. " aria-required="true" required="" title="">
<div class="error-message" id="471558531_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1485311413"><div class="ss-q-title">What software/materials did you use?
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1485311413" rows="8" cols="0" class="ss-q-long" id="entry_1485311413" dir="auto" aria-label="What software/materials did you use?  " aria-required="true" required=""></textarea>
<div class="error-message" id="528574746_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;-1216323996100241676&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="-1216323996100241676">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action "></td>
</tr></tbody></table></div></ol></form></div>

    <div id="docs-aria-speakable" class="docs-a11y-ariascreenreader-speakable docs-offscreen" aria-live="assertive" role="region" aria-atomic="" aria-relevant="additions">Screen reader support enabled. </div></div>


    <script type="text/javascript" src="./CMYK Design Submission_files/828226963-formviewer_prd.js"></script>
    <script type="text/javascript">
      H5F.setup(document.getElementById('ss-form'));
      _initFormViewer("[100,,[]\n]\n");
    </script></div>
  </div>
</div>

<a href="/">
  <div class="closePage submission" data-ng-click="closePage()">
    <span class="close close1"></span>
    <span class="close close2"></span>
  </div>
</a>