<div class="sidebar-header submission">
  
</div>

<div class="about-body">
  <div class="about-wrapper">
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
    <div class="section-wrapper">
      <div class="image">
        <img src="img/design.png">
      </div>
      <div class="text">
        <p class="title">
          Design
        </p>
        <p class="body">
          You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! You'll be part of a community design event! 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="arrow arrow-back submission btn-disable" data-ng-click="place('schedule', true)">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>
<div class="closePage submission" data-ng-click="closePage()">
  <span class="close close1"></span>
  <span class="close close2"></span>
</div>