<div class="sidebar-header submission">
  <div class="header-wrapper">
    <h1>
      <span class="letter-spacing">submi</span><span>t</span>
    </h1>
    <div class="logistics">
      <ul>
        <li class="cent">by</li>
        <li>
          <img class="fav" src="img/cmyk-icon-cal.png">
          <span class="log-text">October 25, 2014</span>
        </li>
        <li>
          <img class="fav" src="img/cmyk-icon-clock.png">
          <span class="log-text">4:30PM</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="submission-body">
  <div class="submission-wrapper">
    <p class="closed">
      Submissions have closed! Thanks for participating and hope you had fun.
    </p>
  </div>
</div>

<div class="arrow arrow-back submission" data-ng-click="place('schedule', false)">
  <span class="point point1"></span>
  <span class="point point2"></span>
</div>
<div class="closePage submission" data-ng-click="closePage()">
  <span class="close close1"></span>
  <span class="close close2"></span>
</div>
