nav {
  margin: 0 auto;
  height: 100%;
  text-align: center;
  padding-top: 20px; }

.cmyk-wrapper {
  width: 1100px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

@media (max-width: 1100px) {
  .cmyk-wrapper {
    width: 768px; } }

@media (max-width: 768px) {
  nav {
    height: auto;
    margin-bottom: 80px; }
  .cmyk-wrapper {
    width: 400px;
    top: 0;
    transform: none; }
    .cmyk-wrapper .circle-section {
      margin-top: 250px; }
    .cmyk-wrapper #nameplate {
      position: absolute;
      height: 250px;
      top: 50px;
      width: 100%;
      text-align: center; } }

.circle-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  cursor: pointer; }

.circle-wrapper .title {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 30px;
  text-align: center;
  font-family: 'Lato';
  color: #788084; }

.circle-wrapper .title .letterspace {
  letter-spacing: 6px; }

.circle-wrapper:hover .circlespin {
  -webkit-animation: rotating 0.8s cubic-bezier(0.58, -0.34, 0.45, 1.37);
  -moz-animation: rotating 0.8s cubic-bezier(0.58, -0.34, 0.45, 1.37);
  -o-animation: rotating 0.8s cubic-bezier(0.58, -0.34, 0.45, 1.37);
  animation: rotating 0.8s cubic-bezier(0.58, -0.34, 0.45, 1.37); }

.circle-wrapper:hover .circlespin45 {
  -webkit-animation: rotating45 0.8s cubic-bezier(0.58, -0.34, 0.45, 1.37);
  -moz-animation: rotating45 0.8s cubic-bezier(0.58, -0.34, 0.45, 1.37);
  -o-animation: rotating45 0.8s cubic-bezier(0.58, -0.34, 0.45, 1.37);
  animation: rotating45 0.8s cubic-bezier(0.58, -0.34, 0.45, 1.37); }

.circle {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 0 30px; }

.circle1 .top {
  width: 200px;
  height: 100px;
  background-color: #7ec6e4;
  border-radius: 100px 100px 0 0; }

.circle1 .bottom {
  width: 200px;
  height: 100px;
  background-color: #00a8d4;
  border-radius: 0 0 100px 100px; }

.circle1 .line {
  position: absolute;
  top: 97px;
  right: 0px;
  height: 6px;
  width: 100px;
  border-radius: 2px 0 0 2px;
  background: #ffffff; }

.circle2 .left {
  float: left;
  width: 100px;
  height: 200px;
  background-color: #d43e7d;
  border-radius: 100px 0 0 100px; }

.circle2 .right {
  float: right;
  width: 100px;
  height: 200px;
  background-color: #e38aa9;
  border-radius: 0 100px 100px 0; }

.circle2 .line {
  position: absolute;
  top: 100px;
  right: 97px;
  height: 100px;
  width: 6px;
  border-radius: 2px 2px 0 0;
  background: #ffffff; }

.circle3 .left {
  float: left;
  width: 100px;
  height: 200px;
  background-color: #f6df8b;
  border-radius: 100px 0 0 100px; }

.circle3 .right {
  float: right;
  width: 100px;
  height: 200px;
  background-color: #f2cd31;
  border-radius: 0 100px 100px 0; }

.circle3 .line {
  position: absolute;
  top: 0px;
  right: 97px;
  height: 100px;
  width: 6px;
  border-radius: 0 0 2px 2px;
  background: #ffffff; }

.circle4 {
  background: #777e82;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.circle4 .top {
  position: absolute;
  top: 50px;
  left: -50px;
  width: 200px;
  height: 100px;
  background-color: #2d3236;
  border-radius: 100px 100px 0 0;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.circle4 .bottom {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 200px;
  height: 100px;
  background-color: #2d3236;
  border-radius: 0 0 100px 100px; }

.circle4 .line-vertical {
  position: absolute;
  top: -1px;
  right: 97px;
  height: 104px;
  width: 6px;
  border-radius: 0 0 2px 2px;
  background: #ffffff; }

.circle4 .line-horizontal {
  position: absolute;
  top: 97px;
  right: -1px;
  height: 6px;
  width: 104px;
  border-radius: 2px 0 0 2px;
  background: #ffffff; }

@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }

@keyframes rotating45 {
  from {
    transform: rotate(45deg); }
  to {
    transform: rotate(405deg); } }

@-webkit-keyframes rotating45 {
  from {
    -webkit-transform: rotate(45deg); }
  to {
    -webkit-transform: rotate(405deg); } }

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Lato";
  font-size: 18px;
  color: #788084; }

h1 {
  font-size: 36px;
  font-size: 2rem; }
  @media all and (max-width: 480px) {
    h1 {
      font-size: 32px;
      font-size: 1.75rem; } }

h2 {
  font-size: 27px;
  font-size: 1.5rem; }

h3 {
  font-size: 23px;
  font-size: 1.25rem; }

p {
  font-size: 18px;
  font-size: 1rem;
  line-height: 27px;
  line-height: 1.5rem; }

body {
  transition: background 0.6s ease; }
  body #sun-spacer #sun-section {
    transition: background 0.6s ease;
    background-color: white; }
  body.about {
    background-color: #00a8d4; }
    body.about #about .content-header {
      color: white; }
      body.about #about .content-header .content-card {
        color: white; }
    body.about #sun-spacer #sun-section {
      background-color: #00a8d4; }
  body.schedule {
    background-color: #d43e7d; }
    body.schedule #sun-spacer #sun-section {
      background-color: #d43e7d; }
  body.registration {
    background-color: #f2cd31; }
    body.registration #sun-spacer #sun-section {
      background-color: #f2cd31; }
  body.submissions {
    background-color: #2d3236; }
    body.submissions #sun-spacer #sun-section {
      background-color: #2d3236; }

#nameplate .event-text {
  font-size: 90px;
  font-family: sans-serif;
  font-weight: 500;
  color: #495156;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: 80px; }

#nameplate .designathon {
  font-family: "Lato";
  font-size: 30px;
  color: #788084;
  text-transform: uppercase; }

#nameplate .designathon .letterspacing {
  letter-spacing: 5px; }

.content-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 100px; }
  .content-section .content-header {
    padding: 20px 40px;
    color: white;
    text-align: center; }
    .content-section .content-header h1 {
      font-weight: 100; }
    .content-section .content-header .content-card {
      padding: 20px 10px;
      width: 100%;
      border-radius: 3px;
      box-sizing: border-box; }

.logistics {
  text-align: center; }

.logistics ul {
  font-family: "Lato";
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 5px;
  list-style-type: none;
  padding: 0px;
  display: inline-block; }

.logistics ul li {
  margin: 0px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left; }

.logistics ul li .fav {
  height: 32px;
  width: 32px;
  margin-right: 5px;
  vertical-align: middle; }

.logistics ul li .log-text {
  font-size: 18px;
  letter-spacing: 1px; }

#about .content-header {
  color: #788084; }
  #about .content-header .content-card {
    transition: color 0.6s ease;
    color: #788084; }

.panel {
  font-family: 'Lato';
  font-size: 22px;
  font-size: 1.25rem;
  line-height: 36px;
  line-height: 2rem;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px; }

.guest-id {
  font-family: 'Montserrat';
  font-size: 18px;
  margin-top: 20px; }

.guest-descr {
  margin-bottom: 15px; }

.guest-descr a {
  text-decoration: none;
  font-size: 12px;
  font-size: 0.67rem;
  line-height: 12px;
  line-height: 0.67rem;
  text-transform: uppercase;
  color: #eee;
  letter-spacing: .5px;
  font-family: 'Montserrat'; }

.guest-descr a:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Montserrat'; }

#schedule #sun-spacer {
  position: relative;
  height: 90px;
  width: 100%;
  margin-bottom: 20px;
  z-index: 10; }
  #schedule #sun-spacer #sun-section {
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    transition: background-color 0.6s ease;
    overflow: hidden; }
    #schedule #sun-spacer #sun-section.active {
      position: fixed; }
    #schedule #sun-spacer #sun-section #sun {
      position: relative;
      width: 45px;
      height: 45px;
      margin: 70px auto 0; }
      #schedule #sun-spacer #sun-section #sun .sun-ball {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ie-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        background: #ffffff; }
      #schedule #sun-spacer #sun-section #sun .sun-rays {
        position: absolute;
        top: -30%;
        left: 50%;
        width: 3px;
        height: 160%; }
        #schedule #sun-spacer #sun-section #sun .sun-rays b, #schedule #sun-spacer #sun-section #sun .sun-rays s {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 12%;
          /* 100*30/100=18.75 */
          background: white; }
        #schedule #sun-spacer #sun-section #sun .sun-rays s {
          top: auto;
          bottom: 0; }
        #schedule #sun-spacer #sun-section #sun .sun-rays:nth-child(10n+3) {
          -webkit-transform: rotate(36deg);
          -moz-transform: rotate(36deg);
          -o-transform: rotate(36deg);
          -ie-transform: rotate(36deg);
          transform: rotate(36deg); }
        #schedule #sun-spacer #sun-section #sun .sun-rays:nth-child(10n+4) {
          -webkit-transform: rotate(72deg);
          -moz-transform: rotate(72deg);
          -o-transform: rotate(72deg);
          -ie-transform: rotate(72deg);
          transform: rotate(72deg); }
        #schedule #sun-spacer #sun-section #sun .sun-rays:nth-child(10n+5) {
          -webkit-transform: rotate(108deg);
          -moz-transform: rotate(108deg);
          -o-transform: rotate(108deg);
          -ie-transform: rotate(108deg);
          transform: rotate(108deg); }
        #schedule #sun-spacer #sun-section #sun .sun-rays:nth-child(10n+6) {
          -webkit-transform: rotate(144deg);
          -moz-transform: rotate(144deg);
          -o-transform: rotate(144deg);
          -ie-transform: rotate(144deg);
          transform: rotate(144deg); }

#schedule .content-card .schedule-item {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #ffffff; }
  #schedule .content-card .schedule-item .schedule-time {
    display: inline-block;
    width: 20%;
    margin-right: 2.5%;
    font-size: 22px;
    font-size: 1.25rem;
    text-align: right;
    vertical-align: top; }
  #schedule .content-card .schedule-item .schedule-desc {
    display: inline-block;
    width: 67.5%;
    text-align: left;
    vertical-align: top; }
    #schedule .content-card .schedule-item .schedule-desc .schedule-desc-header {
      margin-bottom: 10px;
      font-size: 22px;
      font-size: 1.25rem; }
    #schedule .content-card .schedule-item .schedule-desc .schedule-desc-body {
      font-size: 18px;
      font-size: 1rem;
      line-height: 18px;
      line-height: 1rem; }

@media all and (max-width: 480px) {
  #schedule .content-card {
    padding: 20px; }
    #schedule .content-card .schedule-item .schedule-time {
      width: 100%;
      margin-bottom: 15px;
      display: block;
      text-align: left; }
    #schedule .content-card .schedule-item .schedule-desc {
      width: 100%;
      display: block; } }
